body {
    min-width: 1040px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 30px;
    font-family: Arial, sans-serif;
    color: #404040;
    background-color: #ffffff;
}

.container {
    width: 1015px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.page-header {
    min-height: 490px;
    padding-top: 60px;
    background-image: url("../img/wheat-back.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.page-header .container {
    width: 800px;
    background-color: purple;
}

.header-logo {
    float: left;
    width: 140px;
    height: 76px;
    background-color: aqua;
}

.main-nav {
    position: relative;
    float: left;
    width: 600px;
    margin-top: 12.5px;
    margin-bottom: 10px;
    margin-left: 60px;
    padding: 12px 0;
    list-style: none;
    background-color: coral;
}

.main-nav::before {
    content: "";
    position: absolute;
    top: 0;
    width: 600px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}

.main-nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 600px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}

.main-nav li {
    float: left;
    margin: 0;
    margin-right: 54.55px;
    padding: 0;
    font-weight: 700;
    text-transform: uppercase;
}

.main-nav li:last-child {
    margin-right: 0;
}

.main-nav a {
    margin: 0;
    padding: 0;
    color: #ffffff;
    text-decoration: none;
}

.promo {
    width: 800px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    background-color: coral;
}

.promo p {
    margin: 0;
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
    color: #ffffff;
    text-align: center;
}